    <div class="bot-bar">
        <p><a href="https://github.com/DrakenXI/blog_symfony"><img src="/assets/GitHub-Light-32px.png"></img></a> Projet réalisé dans le cadre de l'UE HMIN302.  &#169; C. Desgenetez et A. Paillard.</p>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
