{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Blog de SuperCookies2000{% endblock %}

{% block nav %}{% include 'partials/nav.html.twig' %}{% endblock %}

{% block body %}

<div id="main-content-section" data-magellan-target="main-content-section">
    <div class="small-banner callout large primary bandeau">
        <div class="row column text-center">
            <h1>Inscription</h1>
            <p>Bienvenue parmi nous {{ app.user.username }}.</p>

            <!-- If there is any flash messages, display them in a pop-up -->
            <!-- More about flash messages : https://symfony.com/doc/current/controller.html#flash-messages -->
            {% for message in app.flashes('notice') %}
            <div id="flashes" data-closable class="callout alert-callout-border success">
                <strong>Yay!</strong>  <p>{{ message }}</p>
                <button id="close-button" class="close-button" aria-label="Dismiss alert" type="button" data-close>⊗</button>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row" id="content">
        <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
        <p>Retour à la <a href='/'>page d'accueil</a>.</p>
    </div>

{% endblock body %}

{% block footer %}{% include 'partials/footer.html.twig' %}{% endblock %}
