{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

    <div>
        {{ form_widget(form) }}
            <input class="sign-in-form-button" type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
