{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text"><a href="/">Blog de SuperCookies2000</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><a href="#">Connexion</a></li>
            <!--<li><a href="#">Nouvel article</a></li>
            <li><a href="#">Lien deux</a></li>
            <li><a href="#">lien trois</a></li>-->
        </ul>
    </div>
</div>

<div class="callout large primary">
    <div class="row column text-center">
        <h1>Derniers billets</h1>
    </div>
</div>
<div class="row" id="content">
    <div class="blog-post">
        <h3><a href='/post/1'>$titre</a> <small>$published</small></h3>
        <img class="thumbnail" src="https://placehold.it/850x350">
        <p>$content</p>
        <div class="callout">
            <ul class="menu simple">
                <li>Sujet :<a href="#">#$slug</a></li>
            </ul>
        </div>
    </div>
    <div class="blog-post">
        <h3><a href='/post/2'>La saison des raclettes est ouverte</a> <small>3/6/2015</small></h3>
        <img class="thumbnail" src="https://placehold.it/850x350">
        <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
        <div class="callout">
            <ul class="menu simple">
                <li>Sujet :<a href="#">#patates</a></li>
            </ul>
        </div>
    </div>
    <div class="blog-post">
        <h3><a href='/post/3'>Vive les pandas</a> <small>3/6/2015</small></h3>
        <img class="thumbnail" src="https://placehold.it/850x350">
        <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
        <div class="callout">
            <ul class="menu simple">
                <li>Sujet :<a href="#">#pandas</a></li>
            </ul>
        </div>
    </div>
    <div class="blog-post">
        <h3><a href='/post/4'>Awesome blog post title</a> <small>3/6/2015</small></h3>
        <img class="thumbnail" src="https://placehold.it/850x350">
        <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
        <div class="callout">
            <ul class="menu simple">
                <li>Sujet :<a href="#">#slug</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row column">
    <ul class="pagination" role="navigation" aria-label="Pagination">
        <li class="disabled">Previous</li>
        <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
        <li><a href="#" aria-label="Page 2">2</a></li>
        <li><a href="#" aria-label="Page 3">3</a></li>
        <li><a href="#" aria-label="Page 4">4</a></li>
        <li class="ellipsis"></li>
        <li><a href="#" aria-label="Page 12">12</a></li>
        <li><a href="#" aria-label="Page 13">13</a></li>
        <li><a href="#" aria-label="Next page">Next</a></li>
    </ul>
</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
      $(document).foundation();
    </script>

{% endblock %}
