<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Blog de SuperCookies2000{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
            <link rel="stylesheet" href="{{ asset('/css/main.css') }}">
            <link rel='icon' href='/favicon.ico' type='image/x-icon'/>
        {% endblock %}

    </head>
    <body>
        {% block nav %}{% include 'partials/header.html.twig' %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% include 'partials/footer.html.twig' %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
